*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'outfit';
    background: linear-gradient(#e4e4e4, #ffffff );
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 400;
    color:rgb(253, 181, 0);
    font-size: 30px;
    margin-bottom: 5px;
}

.contact-left-title h3{
    font-weight: 400;
    color:rgb(236, 130, 8);
    font-size: 30px;
    margin-bottom: 5px;
}    
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: blue;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs :focus{
    border: 2px solid #a2e4904f;

}       
.contact-inputs::placeholder{
    color: #9b8e8e;
}
.contact-left button{  
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(255, 0, 0);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270 deg, #ff994f, #d45c72);
    cursor: pointer;
} 
.contact-left button img{
    height: 15px;
}
.contact-right image{
    width: 500px;

}
  
@media (max-width:800px) {
.contact-inputs{
    width: 500vm;   
    }
    .contact-right{
        display: none;
    }
}

.whatsapp-btn-container {
    position: fixed;
    right: 30px;
    opacity: 0;
    bottom: -50px;
    padding: 24px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
}

@keyframes fade-up {
    100% {
        bottom: 24px;
        opacity: 1;
    }
}

.whatsapp-btn-container .whatsapp-btn {
    font-size: 48px;
    color: #25d366;
    display: inline-block;
    transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover {
    transform: scale(1.2);
}

.whatsapp-btn-container span {
    position: absolute;
    top: 0;
    left: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #075e54;
    transform: rotateZ(20deg) translateX(10px);
    opacity: 0;
    transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover + span {
    transform: rotateZ(0deg) translateX(0px);
    opacity: 1;
}

